ul {

    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


li {

    float: left;
}

li a,
.dropbtn {

    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover,
.dropdown:hover .dropbtn {

    background: red;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content {

    display: none;
    position: absolute;
    background: white;
    width: 150px;
}

.dropdown-content a {
    color: black;
    display: block;
    text-align: left;
    border: 1px solid gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ORDEM DE FORÇA - ESPECIFICIDADE CSS

1) #id
2) tag.classe
3) .classe
4) tag
Obs. Css declarado com style direto na tag tem prioridade sobre os demais.

se declarar usando no final " !important; " FAZ COM QUE TENHA PRIORIDADE 
O QUE FOR MARCADO.(EVITAR USAR PARA NAO VIRAR BAGUNÇA).!



*/